PORT=3000
LOG_LEVEL=debug
API_PATH=/api/v2

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=12345678
DB_DATABASE=myscreen

# REDIS_HOST=localhost
# REDIS_PORT=6379

JWT_ACCESS_TOKEN=super-&-secret-&-password
JWT_ACCESS_EXPIRES=900
JWT_REFRESH_TOKEN=super-!-secret-!-password
JWT_REFRESH_EXPIRES=5184000

FRONTEND_URL=https://cp.mailgun.ru

MAILGUN_API_KEY=5398xxxxxxxxxxxxxxxxxxxxxxxxxxxx-xxxxxxxx-xxxxxx05
# MAILGUN_PUBLIC_KEY=pubkey-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MAILGUN_API_DOMAIN=sandboxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.mailgun.org
# MAILGUN_API_HOST=api.mailgun.net or api.eu.mailgun.net
# MAILGUN_TIMEOUT=3000
